.sidebar-container {
	position: fixed;
	width: 280px;
	height: 100%;
	background-color: white;
	font-family: Lato;
	background-color: #e8e05a;
}
.sidebar-item {
	left: 30px;
	position: relative;
}
.page-wrapper {
	position: absolute;
	left: 350px;
	font-family: Tinos;
}
.heading {
	font-family: Lato;
	font-size: 36px;
}
.subwriting {
	font-family: Lato;
	font-size: 24px;
}
.page {
	display: none;
}
#landing {
	width: 960px;
	height: 600px;
	overflow: hidden;
	top: 100px;
	padding: 20px;
	position: relative;
}
#main-heading {
	padding: 10px;
	margin-left: 20px;
	font-size: 50px;
}
#landing-text {
	width: 200px;
	height: 100px;
	margin: 3px;
	position: absolute;
	top: 400px;
	left: 800px;
	font-size: 20px;
}
a {
	text-decoration: none;
}
ul {
	text-decoration: none;
}
.show {
	display: initial;
}
.page {
	font-size: 30px;
	width: 800px;
}
.datopacity {
	opacity: 0.4;
}
#image-page {
	width: 960px;
	font-size: 20px;
	line-height: 35px;
}
.sidebar-item {
	font-size: 30px;
	line-height: 45px;
}
#writing-page {
	line-height: 36px;
}